<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Request</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</head>
<body>
    
<div class="container">
   
    <div class="row">
        <h1 class="mx-auto" style="margin-top:200px">
            Coming Soon :)
        </h1>
    </div>
    <script>
      window.onload=(e)=>{
        $.ajax({
            url:".",
            method:"POST",
            data:{csrfmiddlewaretoken:"{{csrf_token}}"},
            success:function(rs){
                console.log(rs)
            }
        })
      }
    </script>
</body>
</html>